{% extends "base.html" %} {% block content %}
    <body class="main_gallery">
        <!-- ------------------------------ -->
        <a class="home" href="/">Back to home</a><br>

        <div class="gallery">
            <img src="/static/examples/example_2.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Biomüll &#127822;</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_3.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Papier</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_4.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Biomüll &#127822;</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_5.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Elektromüll</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_6.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Elektromüll</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_7.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Glas</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_8.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Biomüll &#127822;</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_9.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Restmüll</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_10.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Wertstoff</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_11.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Wertstoff</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_12.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Biomüll &#127822;</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_13.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Glas</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_14.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Glas</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_15.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Wertstoff</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_16.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Restmüll</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_17.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Restmüll</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_18.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Papier</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_19.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Papier</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_20.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Restmüll</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_21.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Wertstoff</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_22.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Elektromüll</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_23.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Glas</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_25.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Wertstoff</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_24.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Wertstoff</span></div>
        </div>

        <div class="gallery">
            <img src="/static/examples/example_1.jpg" alt="Cinque Terre" width="600" height="400">
            <div class="desc"><span class="image_caption">Papier</span></div>
        </div>
    </body>
{% endblock %}